body{
    margin: 0px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

/*Cabecera*/
.contenedor_cabecera_entera{
    background-color: #125709bd;
    height: 252px;
    display: flex; 
    padding: 20px;
}

.logo img{
    height: 232px;
    width: auto;
}

.contenedor_cabecera_titulo_menu{
    width: 100%;
}

.contenedor_titulo{
    height: 55%;
    position: relative;
}

.titulo{
    margin: 0px;
    position: absolute;
    bottom: 0;
    left: 20px;
    font-family: "Namdhinggo", serif;
}

.contenedor_menu{
    height: 45%;
    position: relative;
}

.menu ul, .menu li {
	margin: 0;
	padding: 0;
}

.menu{ 
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 20px;
}
.menu ul {
	list-style: none;
	width: 100%;
}
.menu li {
	float: left;
	position: relative;
	width:auto;
}

.menu a{
	background: #034c748f;
	color: #ffffff;
	display: block;
	padding: 10px 25px;
	text-decoration: none;
    font: bold 12px/20px sans-serif;
	text-align: center;
}

.menu li:hover a{
	background: #fd0000;
}

#desplegable {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}

li:hover ul#desplegable {
    opacity: 1;
	top: 40px;
	visibility: visible;
}

#desplegable li {
	width: 100%;
}

#desplegable a:hover {
	background: #00ffd5;
}
#desplegable a{
	background-color:#af26ca;
}

/*Contenido*/
.Contenido{
    display: flex; 
    height: 979px;
}
.Panel_lateral{
    background-color: #1100ffbd;
    width: 20%;
    padding: 20px;
}

.Contenedor_actividades{
    background-color: #ff008c2d;
    width: 80%;
    padding: 20px;
}

.Grid_actividades{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns:  1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}
.Actividad{
    background-color: #00ff73bd;
}

/*Pie de pagina*/
.Pie_pagina{
    display: flex; 
    height: 130px;
    background-color: #ffe6005b;
}