body{
    margin: 0px;
    /*En vez de usar el width 100% pongo un numero de pixeles determinado 
    evitando que a veces se vea mal la pagina*/
    width: 1140px;
    margin-left: auto;
    margin-right: auto; 
    /*Pongo una foto para lo que no cubro de contenido*/
    background-image: linear-gradient(rgba(43, 92, 63, 0.5), rgba(170, 190, 185, 1)), url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Cabecera*/
    
/*Contenedor de toda la cabecera*/
.contenedor_cabecera_entera{
    background-color: #aabeb9;
    height:15%;
    display: flex; 
    padding: 20px;
}

.logo {
    width: 20%;
    height: 100%;
    margin: auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
}

/*Contenedor con los menus y cabecera*/
.contenedor_cabecera_titulo_menu{
    width: 80%;
}

/*Usado para asignar el tamanio y posicion del titulo*/
.contenedor_titulo{
    height: 55%;
    position: relative;
}

.titulo{
    /*Posicion*/
    margin: 0px;
    position: absolute;
    bottom: 0;
    left: 20px;
    /*Tipo de letra*/
    font-family: "Poppins", sans-serif;
}

/*Usado para asignar el tamanio y posicion de los menu*/
.contenedor_menu{
    height: 45%;
    position: relative;
}

/*Ajustes del menu*/
.menu ul, .menu li {
    margin: 0px;
    padding: 0px;
}

.menu{ 
    /*Ajustes de posicion*/
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 20px;
    
}

.menu ul {
    list-style: none;
    width: 100%;
}

.menu li {
    float: left;
    position: relative;
    width:auto;
}

/*Ajustes de los enlaces del menu*/
.menu a{
    background: #2b5c3f;
    color: #c9e0d2;
    /*Ajustes de estilo*/
    text-decoration: none;
    font: bold 12px sans-serif;
    /*Ajustes de posicion*/
    text-align: center;
    padding: 10px 25px;
    display: block;

}

.menu li:hover a{
    background: #133e09;
}

/*Ajustes del menu desplegable*/
/*El menu desplegable es id por eso usa #*/
#desplegable {
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 35px;
    /*Sin seleccionar no es visible*/
    visibility: hidden;
    /*Solapa a otros elementos*/
    z-index: 1;
}

li:hover ul#desplegable {
    /*Al pasar el raton por encima es visible*/
    opacity: 1;
    top: 34px;
    visibility: visible;
}

#desplegable li {
    width: 100%;
}

#desplegable a:hover {
    /*Cambia el color al pasar el raton por encima*/
    background: #0f2b09;
}

#desplegable a{
    background-color:#133e09;
}

/*Contenido*/
.contenido{
    display: flex; 
    height: 80%;
}
/*Panel lateral con enlaces externos*/
.panel_lateral{
    background-color: #2b5c3f;
    width: 20%;
    padding: 0px 20px;
    text-align: center;
    font: bold 12px/20px sans-serif;
    overflow: auto;
}

.panel_lateral ul, li{
    padding: 0px;
    margin: 0px;
}

.panel_lateral ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.panel_lateral a{
    text-decoration: none;
    color: #c9e0d2;
}

.panel_lateral h3{
    font-family: "Poppins", sans-serif;
}

/*Grid de las actividades*/
.contenedor_actividades{
    background-color: #c9e0d2;
    width: 80%;
    padding: 20px;
}

.grid_actividades{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns:  1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

/*Actividades dentro del grid*/
.actividad{
    min-height: 33%;
    position: relative;
    background-color: #729e83;
    border-radius: 1rem;
    text-align: center; 
}

/*Transiciones al pasar el raton encima*/
.actividad:hover{
    background-color: #2b5c3f;
    transition: background-color 0.5s ease;
}

.actividad:hover > .enlace_inferior{
    color:white;
    transition: color  0.5s ease;
}

/*Imagenes del grid*/
.actividad img{
    width: 90%;
    height: 80%;
    object-fit: cover;
    padding-top: 10px;
    border-radius: 1rem;
}

/*El enlace ocupa todo el grid*/
.enlace_total {
    display: block;
    width: 100%; 
    height: 100%; 
    position: absolute; 
}

/*Enlace de la parte inferior*/
.enlace_inferior{
    /*Posicion*/
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    /*Valores del tipo de letra*/
    text-decoration: none;
    color: black;   
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

/*Pie de pagina*/
.pie_pagina{
    display: flex; 
    height: 5%;
    background-color: #aabeb9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie_pagina img{
    height: 20px;
    margin: 5px;
}
