body{
    margin: 0px;
    /*En vez de usar el width 100% pongo un numero de pixeles determinado 
    evitando que a veces se vea mal la pagina*/
    width: 1140px;
    margin-left: auto;
    margin-right: auto; 
    /*Imagen para el background*/
    background-image: linear-gradient(rgba(43, 92, 63, 0.5), rgba(170, 190, 185, 1)), url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Cabecera*/
    
/*Contenedor de toda la cabecera*/
.contenedor_cabecera_entera{
    background-color: #aabeb9;
    height:15%;
    display: flex; 
    padding: 20px;
}

/*Logo de la pagina con sus ajustes*/
.logo {
    width: 20%;
    height: 100%;
    margin: auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
}

/*Contenedor con los menus y cabecera*/
.contenedor_cabecera_titulo_menu{
    width: 80%;
}

/*Usado para asignar el tamanio y posicion del titulo*/
.contenedor_titulo{
    height: 55%;
    position: relative;
}

.titulo{
    /*Posicion*/
    margin: 0px;
    position: absolute;
    bottom: 0;
    left: 20px;
    /*Tipo de letra*/
    font-family: "Poppins", sans-serif;
}

/*Usado para asignar el tamanio y posicion de los menu*/
.contenedor_menu{
    height: 45%;
    position: relative;
}

/*Ajustes del menu*/
.menu ul, .menu li {
    margin: 0px;
    padding: 0px;
}

.menu{ 
    /*Ajustes de posicion*/
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 20px;    
}

.menu ul {
    list-style: none;
    width: 100%;
}

.menu li {
    float: left;
    position: relative;
    width:auto;
}

/*Ajustes de los enlaces del menu*/
.menu a{
    background: #2b5c3f;
    /*Ajustes de estilo*/
    color: #c9e0d2;
    text-decoration: none;
    font: bold 12px sans-serif;
    /*Ajustes de posicion*/
    text-align: center;
    padding: 10px 25px;
    display: block;
}

/*Ajustes de los botones del menu*/
.menu button{
    background: #2b5c3f;
    /*Ajustes de estilo*/
    color: #c9e0d2;
    text-decoration: none;
    font: bold 12px sans-serif;
    cursor: pointer;
    /*Ajustes de posicion*/
    text-align: center;
    padding: 10px 25px;
    display: block;
    border: 0px;
}

/*Ajustes de cuando se pasa el raton por encima en el menu*/
.menu li:hover a{
    background: #133e09;
}

/*Ajustes del menu desplegable*/
/*El menu desplegable es id por eso usa #*/
#desplegable {
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 35px;
    /*Sin seleccionar no es visible*/
    visibility: hidden;
    /*Solapa a otros elementos*/
    z-index: 2;
}

li:hover ul#desplegable {
    /*Al pasar el raton por encima es visible*/
    opacity: 1;
    top: 34px;
    visibility: visible;
}

#desplegable li {
    width: 100%;
}
/*Cambia el color al pasar el raton por encima*/
#desplegable a:hover {
    background: #0f2b09;
}

#desplegable a{
    background-color:#133e09;
}

/*Contenido*/
.contenido{
    display: flex; 
    height: auto;
}
/*Panel lateral con enlaces externos*/
.panel_lateral{
    background-color: #2b5c3f;
    /*Anchura del panel lateral*/
    width: 20%;
    /*Estilo del panel*/
    padding: 0px 20px;
    text-align: center;
    font: bold 12px/20px sans-serif;
    overflow: auto;
}


.panel_lateral ul, li{
    padding: 0px;
    margin: 0px;
}

/*Ajustes del estilo del panel lateral*/
.panel_lateral ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*Ajustes para los enlaces*/
.panel_lateral a{
    text-decoration: none;
    color: #c9e0d2;
}

.panel_lateral h3{
    font-family: "Poppins", sans-serif;
}

/*Informacion actividad*/
.contenedor_informacion{
    background-color: #c9e0d2;
    width: 80%;
    padding: 0px 0px 0px 20px;
    /*Uso grid para facilitar que la pagina 
    sea mas responsive*/
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);
    position: relative; /* Agregar posición relativa */
}

/*En el caso de que la pantalla sea muy pequeña no 
aparece el panel lateral y el grid ocupa su sitio*/
@media only screen and (max-width: 800px) {
    .panel_lateral {
        display: none;
    }
    .contenedor_informacion{
        width: 100%;
    }
}

/*Panel de valoraciones*/
#panel_valoraciones{
    /*Ajustes de posicion*/	
    z-index: 1; /* Se sitúa por encima del resto, pero debajo del menu desplegable */
    grid-row: 1/5;
    grid-column: 5/7;
    /*Ajustes de estilo*/
    background-color: #7f9d8a;
    border-radius: 0.5rem 0 0 0.5rem;
    /*Añade un scroll por si se pasa del espacio*/
    overflow: auto;
    margin: 0px;
}

#panel_valoraciones h3 {
    font-family: "Poppins", sans-serif;
    margin: 10px;
    text-align: center;
}

/*Estilo de las valoraciones*/
.valoracion{
    background-color: #749287;
    border-radius: 1rem;
    margin: 10px;
    padding: 10px;
}

.valoracion h5{
    font-family: "Poppins", sans-serif;
    margin: 5px;
    color : #262c28;
}

.valoracion p{
    font-family: "Montserrat", sans-serif;
    margin: 5px;
    color : #262c28;
}

/*Formulario de valoracion*/
#formulario_valoracion{
    /*Ajustes de posicion*/
    border: 20px;
    padding-left: 10px;
    z-index: 1;
    grid-column: 1/4;
    grid-row: 2/3;
    /*Ajustes de estilo*/
    background-color: #789682;
    border-radius: 1rem;
}

#formulario_valoracion label, h3, button{
    font-family: "Poppins", sans-serif;   
}

#formulario_valoracion h3{
    margin: 5px;
}

#nombre, #email, #comentario{
    margin: 10px;
    border-radius: 0.5rem;
}

#comentario{
    height: 20%;
    width: 90%;
    /*Evita que se pueda redimensionar el cuadro de texto del comentario*/
    resize: none;
}

/*Boton de enviar*/
#formulario_valoracion button{
    /*Ajustes de estilo*/
    border-radius: 1rem;
    background-color: #2b5c3f;
    color: #c9e0d2;
    cursor: pointer;
    /*Ajustes de posicion*/
    display: block;
    margin: auto;
}

/*Dialogo modal*/
#dialogo_modal{
    /*Ajustes de posicion*/
    z-index: 3;
    grid-column: 1/4;
    grid-row: 3;
    margin: 30px;
    padding: 20px;
    /*Ajustes de estilo*/
    background-color: #0f2b09;
    color : #c9e0d2;
    border-radius: 1rem;
    text-align: center;
    
}

/*Ajustes de estilo para los titulos*/
.cabecera_actividad{    
    /*La cabecera ocupa una fila completa*/
    grid-row: 1;
    grid-column: 1/7;
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 20px 20px 20px 0px;
}

/*Informacion de la actividad con fotos*/
.contenedor_fotos_texto{
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    /*Ocupa desde la fila 2 hasta la 8*/
    grid-row: 2/4;
    grid-column: 1/7;
    /*En caso de que el tamanio sea demasiado 
    pequenio se adapta aniadiendo un scroll*/
    padding: 20px 20px 20px 0px;
}

/*La foto de arriba es un cuadrado 
que esta sobre un contenedor*/
#foto_arriba{
    background-color: #729e83;
    /*Ajustes de tamanio*/
    width: 220px;
    height: 220px;
    /*Ajustes de posiciom*/
    float: right;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

/*La foto de abajo es un rectangulo
sobre un contendor*/
#foto_abajo{
    background-color: #729e83;
    /*Ajustes de tamanio*/
    width: 200px;
    height: 220px;
    /*Ajustes de posicion*/
    border-radius: 1rem;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

#foto_arriba img , #foto_abajo img{ 
    height: 90%;
    width: 90%;
    padding: 10px;
    /*Las imagenes se ven redondeadas*/
    border-radius: 1rem;
}

/*Ajustes para los botones*/
.botones{
    /*Ajustes para el centrado*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Los botones ocupan la ultima fila del grid*/
    grid-row: 4;
    grid-column: 1/7;
    padding: 20px 20px 20px 0px;
}

.botones a{
    text-decoration: none;
}

/*Ajustes de estilo de las imagenes*/
.botones img{
    height: 40px;
    width: auto;
    padding: 20px;
}

/*Pie de pagina*/
.pie_pagina{
    display: flex; 
    height: 5%;
    background-color: #aabeb9;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Logo copyright tamanio*/
.derechos img{
    height: 20px;
    margin: 5px;
}

/*Evito que el codigo de barras aparezca*/
.codigo_barras{
    display: none;
}

/*Filtro para cuando se selecciona el panel de valoraciones*/
.blur {
    filter: blur(5px);
}